# Python/Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/media/

# Node/Electron
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Frontend build
frontend/dist/
frontend/out/
frontend/build/

# Electron packaging
dist_electron/
release/
*.app/
*.exe
*.dmg
*.pkg
*.AppImage

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python virtual environments
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebooks
.ipynb_checkpoints